
body {
	background-image: url(../картинки/fon1.png);
	background-size: cover;
	color: black;
	margin: 0;
	padding: 0;
}

.container_main {

}

h2 {
	text-align: center;
}
h1 {
	text-align: center;
	color: black;	
}

h4 {
		text-align: center;
}
h3 {
	text-align: center;
}

.flex-container1 {
padding: 10px;
align-items: stretch;
display: flex;
justify-content: space-between;
}
.box1 {
flex: 1;
order: 1;
}
.box2 {
flex: 1;
order: 1;
border-left: 2px solid black;

}
.box3 {
flex: 1;
order: 1;
border-top: 2px solid black;
}
.box4 {
flex: 1;
order: 1;
border-left: 2px solid black;
border-top: 2px solid black;
}
.box5 {
flex: 1;
order: 1;
border-top: 2px solid black;
text-align: center;	
border-bottom: 2px solid black;

}
.box6 {
flex: 1;
order: 1;
border-bottom: 2px solid black;
border-right: 2px solid black;

}
.box7 {
flex: 1;
order: 1;
border-bottom: 2px solid black;
}
.box8 {
flex: 1;
order: 1;
border-right: 2px solid black;
}
.box9 {
flex: 1;
order: 1;
}

.container_registration {
	text-align: center;
}







#mainPicture {
margin-bottom: 0;
padding: 0px;
}

.logo img{
	text-align: center;
	width: 100%;
}