body { 
	background-image: url(https://i.pinimg.com/originals/99/32/5a/99325a5c4fafee17d3a52c285f013607.png);
background-size: cover;
background-position: center;
}
#name{
	position: relative;
	left: 40%;
	right:50%;
	font-size: 90px;
	margin-top: 10px;
	margin-bottom: 0px;
}
#slogan{
	position: relative;
	left: 35%;
	right: 50%;
	font-weight: 100px;
	font-size: 50px;
	margin-top: 0px;
	color: violet ;
}
p {font-size: 20px;}

.kartinka{
	style="width: 50px; max-height: 50px;" 
}
.contacts-conteiner{
	margin-left:0px;
	border: 2px solid red;
	margin:0px;
	padding: 0px;
}
table, tr, th {border: 1px solid black;}